.subWrapper
  .Account
    .Account__logo
      = image_tag src="material/logo/logo.png", size: "150x50", class: "logo"
      %nav.progressBar
        %ol.progresses
          %li.Progress{ id: "first" }
            .progressTile-active
              メール/パスワード
            .progressBorder-blue
            .progressRound-blue
          %li.Progress{ id: "second" }
            .progressTile-blue
              会員情報
            .progressBorder-blue
            .progressRound-blue
          %li.Progress{ id: "third" }
            .progressTile-blue
              お届け先住所入力
            .progressBorder-blue
            .progressRound-blue
          %li.Progress{ id: "fifth" }
            .progressTile-blue{ id: "end" }
              完了
            .progressRound-blue
    .Account__master
      .Account__master__entry
        .Account__master__entry__title
          %h2 登録が完了しました
        .Account__master__entry__topPageLink
          = link_to root_path, class: "topPageBtn" do
            トップページへ