.MyPageWrapper
  .MyPageContents
    .MyPageContents__LeftSide
      = render 'users/mypage_leftside'
    .MyPageContents__RightSide
      .subWrapper
        .Account
          .Account__master
            .Account__master__entry
              .Account__master__entry__accountDleteTitle
                %h2 アカウント削除
              .Account__master__entry__border
              .Account__master__entry__form
                .accountDeleteBtn
                  #{button_to "アカウント削除", user_registration_path(current_user.id), data: { confirm: "本当に削除してもいいですか?" }, method: :delete}
                  .accountDeleteConfirm
                    %i.fas.fa-exclamation-triangle
                    ボタンを押してから削除を取り消すことはできません