.MyPageWrapper
  .MyPageContents
    .MyPageContents__LeftSide
      = render 'users/mypage_leftside'
    .MyPageContents__RightSide
      .LogInMassage
        .welcom_message
          ようこそ
          = current_user.nickname
          さん