.wrapper
  .header
  .border
  .main
    .main__top
    .main__info
    .main__middle
    .main__unique
    .main__new
    .main__contents
  .bottomPicture
  .footer
  .post
    = link_to new_item_path, class: "new-post" do
      %i.fas.fa-camera