.itemShow {
  min-height: 100vh;
  padding: 50px 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  &__main {
    background-color: white;
    width: 40%;
    min-height: 100vh;
    padding: 35px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    .itemBox {
      display: flex;
      justify-content: flex-end;
      &__edit {
        background-color: #3CCACE;
        padding: 5px;
        border-radius: 4px;
        .editbtn {
          text-decoration: none;
          color: white;
        }
      }
      &__delete {
        background-color: red;
        padding: 5px;
        margin-left: 5px;
        border-radius: 4px;
        .deletebtn {
          text-decoration: none;
          color: white;
        }
      }
    }
    &__name {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      margin-top: 5px;
      overflow: visible;
    }
    &__image {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin-top: 5px;
      .mainImage {
        width: 33vw;
        height: 346px;
      }
    }
    .itemSubImage {
      display: flex;
      justify-content: center;
      .subImage {
        margin-top: 10px;
      }
    }
    &__price {
      font-size: 35px;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
    }
    &__tax {
      font-size: 15px;
      text-align: center;
    }
    &__info {
      text-align: center;
      font-size: 22px;
      margin-top: 20px;
      .bought {
        color: red;
      }
      .seller {
        color: red;
      }       
      .buyItem {
        text-decoration: none;
        background-color: #3CCACE;
        color: white;
        padding: 8px;
        transition: all  0.5s ease;
        &:hover {
          background-color: rgb(74, 215, 250);
          opacity: 0.8;
        }
      }
      .buyButLogin {
        text-decoration: none;
        color: white;
        background-color: #3CCACE;
        padding: 7px;
        border-radius: 1px;
        transition: all  0.5s ease;
        &:hover {
          background-color: rgb(74, 215, 250);
          opacity: 0.8;
        }
      }
    }
    &__intro {
      font-size: 21px;
      margin-top: 8px;
      border-bottom: 1px solid black;
      display: inline-block;
      width: 110px;
    }
    &__introduction {
      width: 100%;
      overflow: visible;
      margin-top: 5px;
    }
    &__table {
      margin-top: 35px;
      table {
        width: 100%;
        font-size: 14px;
        tbody {
          border-collapse: collapse;
          border-spacing: 0;
          tr {
            width: 100%;
            border: 1px solid #dedede;
            th {
              width: 25%;
              background-color: #eee;
              font-weight: 400;
              padding: 8px;
              text-align: center;
              vertical-align: inherit;
            }
            td {
              padding: 15px;
            }
          }
        }
      }
    }
    &__truble {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 280px;
      margin: 40px auto;
      cursor: pointer;
      .problem {
        text-align: center;
        padding: 5px;
        border: 1px solid black;
      }
      .hand-sign {
        display: flex;
        align-items: center;
        border: 1px solid black;
        padding: 1px 5px;
      }
      .hand {
        font-size: 22px;
        color: #3CCACE;
        margin-left: 5px;
      }
      .hand-bad {
        font-size: 22px;
        color: #3CCACE;
        margin-left: 5px;
      }
    }
  }
}
.comment {
  min-height: 50vh;
  padding: 0 0 50px 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  .commentAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40%;
    padding: 30px 0;
    .comments_title {
      font-size: 22px;
      text-align: center;
      margin-bottom: 10px;
    }
    .comments {
      text-align: center;
      height: 200px;
      width: 500px;
      overflow-x: hidden;
      background-color: whitesmoke;
      border: 3px solid #3CCACE ;
      border-radius: 5px;
      .comment_user {
        text-decoration: none;
        color: black;
        width: 100px;
        font-weight: bold;
      }
      .comment_text {
        text-align: start;
        word-break: break-all;
        width: 420px;
        justify-content:flex-end;
        padding-left: 50px;
        margin-bottom: 15px;
      }
    }
    .commentFormbtn{
      display: flex;
      align-items: center;
      .comment-Form {
        margin-top: 80px;
        border-radius: 0;
        padding-left: 5px;
        padding-top: 5px;
      }
      .comment-submit {
        background-color: #3CCACE;
        height: 55px;
        width: 80px;
        border-radius: 0;
      }
    }
  }
}