.alert {
  color: #ea352d;
  font-size: 14px;
}
.Notification {
  .notice {
    height: 30px;
    font-size: 14px;
    color: #fff;
    padding-left: 30px;
    background-color: #3CCACE;
    line-height: 30px;
    opacity: 0.6;
  }
}


.devise-error-messages {
  color: #ea352d;
  font-size: 14px;
}
