.alert {
  color: #EA352D;
  font-size: 14px;
}
.notice {
  height: 30px;
  font-size: 14px;
  color: #fff;
  padding-left: 30px;
  background-color: #3CCACE;
  line-height: 30px;
  opacity: 0.6;
}
.devise-error-messages {
  color: #EA352D;
  font-size: 14px;
}
