.wrapper {
  box-sizing: border-box;
  width: 100%;
  .header {
    height: 100px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    &__top {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 15px;
      .search-form {
        margin-left: 30px;
        .search-input {
          height: 32px;
          padding-left: 8px;
        }
        .search-btn {
          border: none;
          background-color: #3ccace;
          height: 32px;
          padding: 8px;
          width: 36px;
          cursor: pointer;
          vertical-align: bottom;
          color: #F8F8F8;
          font-size: 18px;
        }
      }
    }
    &__under {
      display: flex;
      justify-content: space-between;
      margin: 10px auto 0 auto;
      width: 1000px;
      &__left {
        display: flex;
        .category {
          font-size: 14px;
          cursor: pointer;
        }
        .brand {
          font-size: 14px;
          margin-left: 30px;
        }
      }
      &__right {
        .header-mypage {
          text-decoration: none;
          color: black;
          font-size: 15px;
        }
      }
    }
  }
  .border {
    margin-bottom: 10px;
  }
}
.main {
  background-color: #F8F8F8;
  &__top {
    background-image: image-url("material/pict/bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    height: 560px;
    width: 100%;
    &__all {
      display: flex;
      flex-direction: column;
      padding-top: 180px;
      padding-left: 250px;
      .topTitle {
        font-size: 60px;
        color: white;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        margin-bottom: 10px;
        margin-left: 20px;
      }
      .topTitleInfo {
        color: white;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 20px;
        margin-left: 15px;
      }
      .topTitle__photo {
        margin-top: 10px;
        position: relative;
        .app-logo {
          position: absolute;
        }
        .google-logo {
          position: absolute;
          left: 191px;
        }
      }
    }
  }
  &__info {
    height: 660px;
    width: 100%;
    background-color: whitesmoke;
    &__title {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      padding-top: 80px;
    }
    &__border {
      display: flex;
      justify-content: center;
      margin-top: 15px;
      .infoBorder {
        border: 2px solid #3ccace;
        width: 60px;
      }
    }
    &__photos {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      margin: 0 auto;
      max-width: 1020px;
      width: 100%;
      .infoPhoto {
        position: relative;
        &__number {
          position: absolute;
          top: 0;
          left: 0;
          background-color: #3ccace;
          width: 50px;
          height: 45px;
          color: #F8F8F8;
          font-weight: bold;
          font-size: 25px;
          text-align: center;
          padding-top: 10px;
        }
        &__subTitle {
          margin-top: 15px;
          text-align: center;
          font-size: 23px;
          font-weight: bold;
          span {
            color: #3ccace;
          }
        }
        &__text {
          margin-top: 20px;
          font-size: 18px;
        }
      }
    }
  }
  &__middle {
    height: 400px;
    background-image: image-url("material/pict/bg-topMiddleDl-pict.jpg");
    background-position: center;
    width: 100%;
    background-size: cover;
    &__all {
      padding-top: 100px;
      padding-left: 300px;
      .middleTitle {
        font-size: 28px;
        color: white;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        margin-bottom: 16px;
        margin-left: 10px;
      }
      .middleTitleInfo {
        color: white;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        margin-left: 10px;
      }
      .middleTitle__photo {
        position: relative;
        margin-top: 15px;
        .google-logo2 {
          position: absolute;
          left: 155px;
        }
      }
    }
  }
  &__unique {
    height: 800px;
    width: 100%;
    background-color: whitesmoke;
    .uniquePhoto {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }
  }
  &__new {
    min-height: 470px;
    background-color: rgb(235, 235, 235);
    &__title {
      text-align: center;
      padding-top: 30px;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    &__sub {
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      color: #3ccace;
      margin-bottom: 25px;
    }
    .mainsNew {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      overflow-x: auto;
      .mainNew {
        display: flex;
        &__contents {
          position: relative;
          background-color: #fff;
          height: 280px;
          cursor: pointer;
          margin: 0 0 10px 15px;
          border: 1px solid white;
          .item-content-pic {
            padding: 5px;
          }
          .mainNew-info {
            padding: 5px;
            padding-left: 10px;
            .mainNew-name {
              padding: 5px;
              height: 40px;
              width: 200px;
              font-size: 14px;
              word-break: keep-all;
            }
            .mainNew-price {
              padding-left: 7px;
              margin-top: 30px;
              font-size: 15px;
            }
            .mainNew-tax {
              padding-left: 7px;
              font-size: 12px;
            }
          }
        }
        &__contents:hover {
          border: 1px solid blue;
        }
      }
    }
  }
  &__contents {
    height: 430px;
    background-color: whitesmoke;
    &__title {
      text-align: center;
      padding-top: 30px;
      font-size: 28px;
      font-weight: bold;
    }
    .items {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin: 0 100px;
      &__content {
        background-color: rgb(255, 255, 255);
        width: 220px;
        height: 250px;
        margin-right: 20px;
        margin-top: 15px;
        cursor: pointer;
        overflow: visible;
        .item-content-name {
          color: black;
          margin-bottom: 3px;
          padding-right: 10px;
          padding-left: 10px;
          margin-top: 8px;
          overflow: visible;
          width: 200px;
        }
        .item-content-price {
          padding-left: 10px;
          padding-right: 10px;
          margin-bottom: 2px;
        }
        .item-content-tax {
          font-size: 8px;
          padding-left: 10px;
        }
      }
    }
  }
  &__ShowWindow {
    &__Title {
      text-align: center;
      padding-top: 30px;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    &__subTitle {
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      color: #3ccace;
      margin-bottom: 25px;
    }
    &__RecommendIndexes {
      background-color: whitesmoke;
      padding: 10px 0 30px 0;
      &__List {
        width: 1200px;
        margin: 0 auto;
        padding: 0 5px;
        display: flex;
        overflow-x: auto;
        #reccomendItems {
          text-decoration: none;
          color: #333;
          .Item {
            padding: 0 0 0 5px;
            margin: 20px 10px;
            width: 150px;
            position: relative;
            background-color: #fff;
            border-radius: 2px;
            // overflow: hidden;
            // color: #333;
            // white-space: nowrap;
            // text-overflow: ellipsis;
            &__info {
              height: 80px;
              padding: 5px;
              &__pic {
                margin: 5px;
              }
              &__name {
                font-size: 14px;
                height: 45px;
                overflow: hidden;
                color: #333;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              &__price {
                font-size: 14px;
              }
            }
          }
          .Item:hover {
            border: 1px solid blue;
          }
        }
      }
    }
  }
}
.bottomPicture {
  background-image: image-url("material/pict/bg-appBanner-pict.jpg");
  height: 360px;
  background-size: cover;
  background-position: center;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    .bottomTop {
      font-size: 27px;
      color: white;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    .bottomUnder {
      font-size: 40px;
      color: white;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
  }
}
.footer {
  height: 360px;
  background-color: #272727;
  text-align: center;
  color: white;
  &__all {
    width: 840px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .furimaTo {
      margin-left: 10px;
      margin-top: 60px;
      &__title {
        font-size: 20px;
        margin-bottom: 22px;
        font-weight: bold;
      }
      li {
        font-size: 12px;
        margin-bottom: 15px;
        cursor: pointer;
      }
    }
  }
  .footerLogo__inc {
    font-size: 12px;
    color: white;
  }
}
.post {
  width: 100px;
  height: 100px;
  background-color: #3ccace;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  .push-post {
    color: white;
    text-decoration: none;
  }
  i {
    font-size: 40px;
    color: white;
  }
}

// 売却済みのリボン
.sold_triangle {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0.9;
  border-style: solid;
  border-width: 0 100px 100px 0;
  border-color: transparent red transparent transparent;
  .sold_word {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 60px 0px 45px;
    transform: rotate(45deg);
  }
}