// マイページ全体共通
.MyPageWrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
  .MyPageContents {
    width: 1020px;
    display: flex;
    justify-content: center;
    margin: 40px auto;
    &__LeftSide {
      width: 280px;
      background-color: #fff;
      .functions {
        background-color: #eeeeee;
        height: 100%;
        ul {
          position: relative;
          .function-mypage {
            background-color: #cccccc;
            font-weight: 600;
            min-height: 20px;
            color: #333;
            font-size: 14px;
            padding: 16px;
            border-radius: 4px;
          }
          .function-mypage:hover {
            color: black;
            background-color: #dddddd;
            opacity: 0.8;
          }
          .function-mypage:active {
            position: relative;
            top: 2px;
          }
          a {
            text-decoration: none;
            color: #333;
            font-size: 14px;
          }
          .fas.fa-chevron-right {
            color: #aaaaaa;
            font-size: 16px;
            position: absolute;
            top: 20px;
            right: 15px;
          }
          .function {
            background-color: #fff;
            border-top: 1px solid #dddddd ;
            border-bottom: 1px solid #dddddd ;
            border-radius: 4px;
            min-height: 20px;
            color: #333;
            font-size: 14px;
            padding: 16px;
            position: relative;
            a {
              text-decoration: none;
              color: #333;
              font-size: 14px;
            }
            .fas.fa-chevron-right {
              color: #bbbbbb;
              font-size: 16px;
              position: absolute;
              top: 20px;
              right: 15px;
            }
          }
          .function:hover {
            color: black;
            background-color: #dddddd;
            opacity: 0.8;
          }
          .function:active {
            position: relative;
            top: 2px;
          }
        }
        .settings {
          margin-top: 40px;
          font-size: 16px;
          font-weight: 600;
        }
      }
    } 
    &__RightSide {
      display: inline-block;
      width: 700px;
      margin-left: 40px;
    }
  }
}

// マイページLP
.LogInMassage {
  height: 150px;
  text-align: center;
  background-color: #fff;
  .welcom_message {
    font-size: 25px;
    font-weight: 600;
    line-height: 150px;
    color: #333;
  }
}  